/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/
/server/
/UIElementsSchema/

.vscode/
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc
Models/Environment/Props/Rocks/Rock_Boulder_A/Rock_Boulder_A.fbm.meta
Models/Environment/Props/Rocks/Rock_Boulder_A/Rock_Boulder_A.fbm/
Plugins/Editor/JetBrains/
Prefabs/DebugPrimitives.meta
Resources/Shaders.meta
Resources/Shaders/
_Test/


